
body {
  background-color: #afafaf;
  font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: #ffffff;
    padding: 2rem;
  }

  .logo {
    width: 200px;
  }

  .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 20px auto;
    background-color: #afafaf;
  }

  #nombre{
    width: 45%;
    text-align: center;
  }
  #nombre h1{
    width: 100%;
  }
  #nombre p{
    font-size: 2em;
  }

  .foto {
    flex-basis: 50%;
    margin-right: 2rem;
  }
  
  .foto img {
    display: block;
    max-width: 100%;
    height: auto;
  }

 section{
  margin-top: 2em;
 }


 .contendorseccion{
  width: 95%;
  margin: auto;
  padding: 0,5;
  display : flex;
  flex-direction : row;
  flex-wrap: wrap;
 }

.pastilla{
  width: 45%;
  text-align: left;
  background-color: #cf1c1c;
  color: #ffffff;
  display: inline-block;
  margin:1%;
  vertical-align: top;
  padding: 1em;
  border-radius: 20px;
}

.pastilla:hover{
  scale: (1);
  background-color: #ffffff;
  color:#cf1c1c
}

main{
  margin: 5em auto;
  width: 90%;
}


#experiencia{
  background-color: #cf1c1c;
  width: 100%;
  padding: 2em;
  color: #ffffff;
  border-radius: 10px;

}
#experiencia h2{
  text-align: center;
  margin: 3em;
  font-size: 2em;
}
#experiencia li{
  margin: 20px 10px;
}

#formacion{
  width: 100%;
  padding: 2em;
}

#formacion h2{
  text-align: center;
  margin: 3em;
  font-size: 2em;
}
#formacion span{
  border: 2px solid  black ;
  font-size: 20px;
  margin: 1em;
  padding: 10px;
}
#formacion p{
  margin: 30px;
}

footer{
  width:100%;
  background-color: #ffffff;
  padding: 2em;
}
footer div{
  margin: auto;
  justify-content: center;
}
footer div a img{
  width: 5%;
  align-items: center;
  margin: 0 30px;

}






  
  
  @media screen and (max-width: 768px) {
    .contenedor {
      flex-direction: column;
      align-items: center;
    }
  
    .foto {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  
    .informacion {
      flex-basis: 100%;
      text-align: center;
    }
  }
  main {
    padding: 2rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  section h2 {
    font-size: 2rem;
    margin-top: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 1rem;
  }
  
  ul li h3 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  ul li p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
    
      @media screen and (min-width: 768px) {
        main {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center; 
          max-width: 90%;
          margin: 0 auto;
        }
      }